<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,700&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

    <!-- CSS -->
    <link rel="stylesheet" href="public/Assets/css/style.css" />
    <link rel="stylesheet" href="public/Assets/css/contact.css" />

    <!-- Bootstrasp -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />

    <title>Contact</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="public/Assets/img/logo.png" alt="" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="projects">Add Project</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="testimonial">My Testimonial</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto">
            {{ if .DataSession.IsLogin }}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Welcome Back, {{ .DataSession.Name }} </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <form action="/logout" method="POST">
                    <button class="dropdown-item">Log out</button>
                  </form>
                </li>
              </ul>
            </li>
            {{ else }}
            <li class="nav-item">
              <a class="nav-link text-orange" href="/login">Login</a>
            </li>
            {{ end }}
            <li class="nav-item">
              <a href="contact" class="btn btn-orange mt-2 mt-md-0">Contact Me</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->

    <!-- Contact -->

    <div class="container">
      <div class="row justify-content-center min-vh-100 align-items-center">
        <div class="col-lg-5">
          <h1 class="text-center mb-4">Form Register</h1>
          <form action="/register-form" method="POST">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="username" name="username" placeholder="name@example.com" required />
              <label for="username">Username</label>
            </div>
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required />
              <label for="email">Email address</label>
            </div>
            <div class="form-floating">
              <input type="password" class="form-control" id="password" name="password" placeholder="Password" required />
              <label for="password">Password</label>
            </div>
            <button class="btn btn-primary mb-2 mt-4 w-100 d-block">Submit</button>
          </form>
          <span>Sudah punya akun? <a href="/login">Masuk disini</a></span>
        </div>
      </div>
    </div>

    <!-- <script src="public/Assets/js/script.js"></script>
    <script src="public/Assets/js/index.js"></script> -->

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>
