.contact h1 {
    text-align: center;
    margin-top: 50px;
  }
  
  form {
    width: 50%;
    margin: auto;
  }
  
  .formGroup {
    display: block;
    margin: 30px 0;
  }
  
  .formGroup label {
    font-weight: bold;
  }
  
  .formGroup input,
  select {
    width: 100%;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
    box-shadow: 2px 0 15px #ddd;
    padding: 8px;
  }
  
  .msg {
    border-radius: 10px;
    margin-top: 5px;
    resize: none;
    width: 100%;
    height: 5rem;
  }
  
  .btnSubmit {
    padding: 10px 20px;
    border: none;
    margin: 20px;
    background-color: rgb(42, 42, 82);
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
  }
  